body {
    background: #F4EEFF;
    font-family:'Courier New', Courier, monospace;
}

.card {
    width: 500px;
    background: #AAC4FF;
    margin: 48px auto;
    padding-bottom: 8px;
    border: 2px solid #495159; 
}

.title {
    background: #B1B2FF;
    border: 2px solid #495159; 
    margin-top: 0px;
    padding: 8px;
    text-align: center;
    color: #EEF1FF;
}

.recipe-list {
    font-size: 18px;
}